---
layout: page
title: Works
---

<div class="home">

        
  <p>Hallo, Willkommen zu meiner Persönliche Webseite! Ich studiere gerade Informatik an der HAW Hamburg. Auf dieser Seite findet man meine Software-Projekte:  </p>

  {% for work in site.data.works %}
    
    <section class="project">
      <h3 class="title">{{ work.title }}</h3>
      <p class="desc">{{ work.desc }}</p>

      <div class="images">
        {% for image in work.images %}
        <img src="{{ site.project_image_path }}{{ image }}" alt="{{ work.title }}" class="image" />
        {% endfor %}
      </div>

      [ <a target="_blank" class="link" href="{{ work.project_url }}">Source code</a> ]
    </section>

  {% endfor %}

</div>
